body {
	height: 100%;
	margin: 0;
}

#main {
	display: flex;
	flex-flow: column;
	justify-items: space-around;
	height: 98vh;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

#roomName {
	flex: 0 0 auto;
}

#newMessageForm {
	flex: 0 0 auto;
	bottom: 0px;
}

#messages {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	overflow-y: scroll;
}

.message {
	display: flex;
	flex-flow: row;
}

.message img {
	max-width: 80vw;
	max-height: 60vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.message iframe {
	max-width: 80vw;
	max-height: 60vh;
	padding-top: 1vh;
	padding-bottom: 1vh;

	width: 560;
	height: 315;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.timestamp {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: center;
	align-content: center;
	width: 5em;
	height: 1.6em;
	font-size: 75%;
	color: #3f3f3f;
}
