<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>List of rooms</title>
	</head>
	<body>
		{{ if .Rooms }}
		<h1>List of rooms</h1>
		<ul>
			{{ range .Rooms }}
			<li>
				<a href="/room/{{ .RoomName }}">{{ .RoomName }}</a> - {{ .MemberCount }}
			</li>
			{{ end }}
		</ul>
		{{ end }}
		<h1>Create a new room</h1>
		<form method="GET">
			<input type="text" name="roomname">
			<input type="submit">
		</form>
	</body>
</html>
